
body {
	-webkit-font-smoothing: antialiased;
	background-color: var(--back-color);
	font-size: 14px;
	color: var(--text-color);
	font-family: var(--main-font);
}

#wrapper {
	margin-top: var(--header-height);
}

.header {
	--logo-top-fix: 8px;
	align-items: center;
	background-color: var(--back-color);
	border-bottom: 1px solid var(--grey-color);
	display: flex;
	font-family: var(--accent-font);
	font-size: 11px;
	height: var(--header-height);
	justify-content: space-between;
	left: 0;
	letter-spacing: 0.026em;
	padding: 0 24px 0;
	position: fixed;
	text-transform: uppercase;
	top: 0;
	transition: height .15s;
	width: 100%;
	z-index: 3;

	&_compact {
		--logo-top-fix: 6px;
		height: 48px;
	}

	@include md {
		font-size: 10px;
	}
	@include sm-and-less {
		padding: 8px;
	}
	// @include sm {
	// 	--header-height: 60px;
	// 	background-color: coral;
	// }
	// @include xs {
	// 	--header-height: 60px;
	// 	background-color: lawngreen;
	// }
	// @include xss {
	// 	--header-height: 60px;
	// 	background-color: hotpink;
	// }

	a {
		text-decoration: none;
	}

	&__logo {
		transition: padding-top .15s;
		padding-top: var(--logo-top-fix);
		margin-left: 18px;
		@include sm-and-less {
			margin-left: 12px;
			.site-logo {
				width: 71px;
			}
		}
		// @include xs {
		// 	margin-left: 0;
		// }
	}
	&__nav {
		height: 100%;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;

		@include sm-and-less {
			display: none;
		}
		> ul {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;

			li {
				align-items: center;
				display: flex;
				height: 100%;
			}

		}

	}
	&__link {
		align-items: center;
		display: flex;
		height: 100%;
		overflow: hidden;
		padding: .5em 1.75em 0;
		position: relative;

		&::before {
			background-color: var(--accent-color);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transform: translateY(-102%);
			transition: .3s;
			width: 100%;
			z-index: 0;
			user-select: none;
			pointer-events: none;
		}

		> span {
			z-index: 1;
		}

		&:hover::before {
			transform: translateY(calc(100% - 5px));

		}
	}

	&__actions {
		padding-top: 3px;
		color: var(--accent-color);
		@include sm-and-less {
			display: none;
		}
	}

	&__burger {
		@include more-than-sm {
			display: none;
		}
	}
}

#burger {
	border-radius: 6px;
	cursor: pointer;
	height: 41px;
	position: relative;
	width: 42px;

	i {
		background-color: var(--light-color);
		display: block;
		height: 1px;
		left: 12px;
		position: absolute;
		width: 18px;

		&:nth-child(1) {
			top: 15px;
		}
		&:nth-child(2) {
			top: 21px;
		}
		&:nth-child(3) {
			top: 27px;
		}
	}
}

.callback {
	align-items: center;
	background: linear-gradient(90deg, #323232 0%, rgba(243, 243, 243, 0.00) 100%);
	background-image:
		linear-gradient(116deg,
			rgba(199,199,199,0.25) 0%,
			rgba(199,199,199,0.35) 26%,
			rgba(199,199,199,0.25) 66%,
			rgba(222,222,222,0.15) 78%,
			rgba(250,250,250,0.01) 90%,
			rgba(255,255,255,0) 100%);
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin-top: 10rem;
	padding: 3.5rem 2.7rem 3.1rem;

	&__title {
		font-size: 25px;
		font-family: var(--accent-font);
		text-transform: uppercase;
		padding-right: 9rem;
		line-height: 1.3em;
	}

	&__tel {
		font-size: 18px;
		font-family: var(--accent-font);
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__btn {
		justify-self: end;
	}
}

.footer {
	--footer-border-color: var(--grey-color);
	border-color: var(--grey-color);
	border-width: 1px 1px 0;
	border-style: solid;
	height: 300px;

	display: grid;
	grid-template-columns: 1fr 1fr;

	a {
		text-decoration: none;
		color: var(--light-grey-color);

		&:hover {
			text-decoration: underline;
		}
	}

	&__promo {
		display: flex;
		flex-direction: column;
		gap: 2.55rem;
		padding: 3.8rem 2.7rem;
		line-height: 1.5em;

		.site-logo {
			max-width: 170px;
		}
		small {
			font-size: 14px;
		}
	}

	&__main {
		border-left: 1px solid var(--grey-color);
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: space-between;
	}
	&__nav {
		display: flex;
		font-size: 14px;
		gap: 1rem;
		justify-content: space-between;
		padding: 3.5rem 3rem 1rem 2.5rem;

		header + ul {
			margin-top: .75rem;
		}
		li + li {
			margin-top: .75rem;
		}
	}

	&__legal {
		border-top: 1px solid var(--grey-color);
		display: flex;
		font-size: 12px;
		justify-content: space-between;
		padding: .8rem 2.5rem;

		a {
			text-decoration: underline;
		}
	}
}
