
body {
	-webkit-font-smoothing: antialiased;
	background-color: var(--back-color);
	font-size: 14px;
	color: var(--text-color);
	font-family: var(--main-font);
	overflow-x: hidden;
}

#wrapper {
	min-height: 100vh;
	padding-top: var(--header-height);
}

img {
	display: block;
}

hr {
	background-image: var(--silver-line);
	display: block;
	height: 1px;
	opacity: 0.66;
	width: 100%;
}

button {
	background: none;
}

.not-found {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 19px;
	gap: 2.5rem;
	height: 100%;
	height: calc(100vh - var(--header-height) - 1rem);
	justify-content: center;
	margin: 0 auto;
	max-width: 520px;
	position: relative;
	text-align: center;
	width: 100%;

	&__text {
		h1 {
			margin-bottom: .75rem;
			font-size: 35px;
		}
	}
	&:before {
		background-color: #b1b1b1;
		border-radius: 850px;
		content: '';
		display: block;
		filter: blur(220px);
		height: 20%;
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		user-select: none;
		width: 100%;
		z-index: -1;
	}
}

#popups {
	background: rgba(35, 156, 255, 0.33);
	bottom: 0;
	left: 0;
	max-height: 100vh;
	max-width: 100vw;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.popup {
	background-color: var(--dark-color);
	height: 10rem;
	width: 100%;
	@include sm-and-less() {
		height: initial;
	}

	&, > .container {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: space-between;
		@include sm-and-less() {
			flex-direction: column;
		}
	}

	.container {
		gap: 6rem;
		@include sm-and-less() {
			gap: .75rem;
			padding: .8rem 0;
		}
	}

	&__text {
		font-size: 15px;
		max-width: 660px;
		line-height: 1.4em;
		@include sm-and-less() {
			font-size: 12px;
			padding: 0 .8rem;
		}
	}

	&__actions {
		display: flex;
		gap: 1rem;
		@include sm-and-less() {
			flex-direction: column;
			text-align: center;
			width: 100%;
			padding: 0 .75rem;

			.btn {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

}


.header {
	--logo-top-fix: 8px;
	align-items: center;
	background-color: var(--back-color);
	border-bottom: 1px solid var(--grey-color);
	display: flex;
	font-family: var(--accent-font);
	font-size: 11px;
	height: var(--header-height);
	justify-content: space-between;
	left: 0;
	letter-spacing: 0.026em;
	padding: 0 24px 0;
	position: fixed;
	text-transform: uppercase;
	top: 0;
	transition: height .15s;
	width: 100%;
	z-index: 10;

	&_compact {
		--logo-top-fix: 6px;
		height: 48px;
	}

	@include md {
		font-size: 10px;
	}
	@include sm-and-less {
		padding: 8px;
	}
	// @include sm {
	// 	--header-height: 60px;
	// 	background-color: coral;
	// }
	// @include xs {
	// 	--header-height: 60px;
	// 	background-color: lawngreen;
	// }
	// @include xss {
	// 	--header-height: 60px;
	// 	background-color: hotpink;
	// }

	a {
		text-decoration: none;
	}

	&__logo {
		transition: padding-top .15s;
		padding-top: var(--logo-top-fix);
		margin-left: 18px;
		@include sm-and-less {
			margin-left: 12px;
			.site-logo {
				width: 71px;
			}
		}
		// @include xs {
		// 	margin-left: 0;
		// }
	}
	&__nav {
		height: 100%;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;

		@include sm-and-less {
			display: none;
		}
		> ul {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;

			li {
				align-items: center;
				display: flex;
				height: 100%;
			}

		}

	}
	&__link {
		align-items: center;
		display: flex;
		height: 100%;
		overflow: hidden;
		padding: .5em 1.75em 0;
		position: relative;

		&::before {
			background-color: var(--accent-color);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transform: translateY(-102%);
			transition: .3s;
			width: 100%;
			z-index: 0;
			user-select: none;
			pointer-events: none;
		}

		> span {
			z-index: 1;
		}

		&:hover::before {
			transform: translateY(calc(100% - 5px));

		}
	}

	&__actions {
		padding-top: 3px;
		color: var(--accent-color);
		@include sm-and-less {
			display: none;
		}
	}

	&__burger {
		@include more-than-sm {
			display: none;
		}
	}
}

#burger {
	border-radius: 6px;
	cursor: pointer;
	height: 41px;
	position: relative;
	width: 42px;

	i {
		background-color: var(--light-color);
		display: block;
		height: 1px;
		left: 12px;
		position: absolute;
		width: 18px;

		&:nth-child(1) {
			top: 15px;
		}
		&:nth-child(2) {
			top: 21px;
		}
		&:nth-child(3) {
			top: 27px;
		}
	}
}

.burger-menu {
	--border: 1px solid var(--grey-color);
	background-color: var(--back-color);
	display: flex;
	flex-direction: column;
	font-family: var(--accent-font);
	font-size: 14px;
	height: 100%;
	justify-content: space-between;
	left: -101%;
	letter-spacing: .05em;
	padding-top: var(--header-height);
	position: fixed;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	transition: transform .55s;
	width: 100vw;
	z-index: 5;

	&.show {
		transform: translateX(101%);
	}

	a {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		text-decoration: none;
		width: 100%;
	}

	.tel {
		color: var(--accent-color);
	}

	&__nav {
		flex-grow: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
			border-bottom: var(--border);
		}
	}

	&__tel,
	&__social {
		height: 82px;
		display: flex;
		align-items: center;
		a {
			padding-top: .1rem;
		}
	}
	&__tel {
		border-bottom: var(--border);
		justify-content: center;
	}
	&__social {
		justify-content: space-around;

		li {
			align-items: center;
			display: flex;
			flex-grow: 1;
			height: 100%;
			justify-content: center;
		}

		li + li {
			border-left: var(--border);
		}
	}
}

#footer {
	margin-top: 10rem;
	@include sm-and-less() {
		margin-top: 5rem;
	}
}

.callback {
	align-items: center;
	background: linear-gradient(90deg, #323232 0%, rgba(243, 243, 243, 0.00) 100%);
	background-image:
		linear-gradient(116deg,
			rgba(199,199,199,0.25) 0%,
			rgba(199,199,199,0.35) 26%,
			rgba(199,199,199,0.25) 66%,
			rgba(222,222,222,0.15) 78%,
			rgba(250,250,250,0.01) 90%,
			rgba(255,255,255,0) 100%);
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	padding: 3.5rem 2.7rem 3.1rem;
	@include md {
		grid-template-columns: 2fr 1fr;
	}
	@include sm-and-less {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1.2rem;
		text-align: center;
		width: 100%;
	}


	&__title {
		font-size: 25px;
		font-family: var(--accent-font);
		text-transform: uppercase;
		padding-right: 9rem;
		line-height: 1.3em;
		@include md {
			grid-column: 1;
		}
		@include sm-and-less {
			font-size: 14px;
			padding: initial;
			max-width: 420px;
		}
	}

	&__tel {
		font-size: 18px;
		font-family: var(--accent-font);
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		@include md {
			grid-row: 2;
			grid-column: 1;
			margin-top: 2.4rem;
		}
		@include sm-and-less {
			font-size: 10px;
			margin-top: 1.25rem;
		}
	}
	&__btn {
		justify-self: end;
		white-space: nowrap;
		@include md {
			grid-column: 2;
			grid-row-start: 1;
			grid-row-end: 3;
		}
		@include sm-and-less {
			margin-top: 1.25rem;

			&, .btn {
				width: 100%;
			}
		}
	}
}

.subfooter {
	--footer-border-color: var(--grey-color);
	border-color: var(--grey-color);
	border-width: 1px 1px 0;
	border-style: solid;
	color: var(--light-grey-color);


	display: grid;
	grid-template-columns: 1fr 1fr;

	@include sm-and-less {
		grid-template-columns: 1fr;
		border: none;
		width: 100%;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	&__promo {
		display: flex;
		flex-direction: column;
		padding: 3.8rem 2.7rem 1.2rem;
		justify-content: space-between;
		line-height: 1.5em;
		gap: 1.5rem;
		@include sm-and-less {
			padding: 2.6rem 1rem;
			flex-direction: row;
			justify-content: space-between;
		}
		.site-logo {
			max-width: 170px;
			@include sm-and-less {
				max-width: 98px;
			}
		}
		small {
			font-size: 14px;
			@include sm-and-less {
				font-size: 12px;
			}
		}
	}

	&__company {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 290px;
		@include sm-and-less {
			gap: 2.2rem;
			line-height: 1.4em;
		}
	}

	&__dev {
		display: flex;
		flex-direction: column;
		gap: .6rem;
		@include sm-and-less {
			text-align: right;
			justify-content: flex-end;
			align-items: flex-end;
			opacity: .75;
			line-height: 1.32em;

			img {
				opacity: .65;
			}
		}
	}

	&__main {
		border-left: 1px solid var(--grey-color);
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: space-between;
		@include sm-and-less {
			border: none;
		}
		@include xs {
			order: 0;
		}
	}
	&__nav {
		display: flex;
		font-size: 14px;
		gap: 1rem;
		justify-content: space-between;
		padding: 3.5rem 3rem 1rem 2.5rem;
		@include md {
			font-size: 12px;
			padding: 3.8rem 1rem 1rem 1rem;
		}
		@include sm-and-less {
			font-size: 12px;
			padding: 0 3.5rem 1.55rem 1rem;
		}
		@include xs {
			flex-wrap: wrap;
			gap: 2rem;
		}

		header {
			color: var(--text-color);
		}
		
		header + ul {
			margin-top: .75rem;
			@include md {
				margin-top: .4rem;
			}
		}
		li + li {
			margin-top: .75rem;
		}
	}

	&__legal {
		align-items: center;
		border-top: 1px solid var(--grey-color);
		display: flex;
		font-size: 12px;
		justify-content: space-between;
		padding: .8rem 2.5rem;

		@include md {
			padding: 1.2rem 1rem;
		}
		@include sm-and-less {
			padding: 2.5rem 1rem;
		}

		a {
			text-decoration: underline;
		}
	}


}
