h1, h2, h3, h4, h5, h6 {
	font-family: var(--accent-font);
	line-height: 120%;
	text-transform: uppercase;
}

h1 {
	font-size: 45px;
	font-weight: 400;
	// letter-spacing: -2%;
}
h2 {
	font-size: 35px;
	// letter-spacing: -2%;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}

@include sm-and-less {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 14px;
	}
	h4 {
		font-size: 10px;
	}
	h5 {
		font-size: 10px;
	}
	h6 {
		font-size: 10px;
	}
}

.focus-title {
	max-width: 640px;
	text-align: center;
	margin: auto;
	background: var(--unnamed, linear-gradient(140deg, #323232 0%, #F3F3F3 100%));
	background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	font-size: 35px;
	font-family: var(--accent-font);
}

strong {
	font-weight: inherit;
	color: var(--accent-color);
}

.btn {
	--btn-color: transperent;
	--btn-border-color: var(--grey-color);

	border: 1px solid var(--btn-border-color);
	display: inline-block;
	font-family: var(--accent-font);
	font-size: 12px;
	letter-spacing: 0.01em;
	overflow: hidden;
	padding: 1.55em 3.1em 1.3em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;

	@include sm-and-less {
		padding: 1.4em 3.1em 1.2em;

		&_squared {
			padding: 1.4em;
		}
	}
	&_squared {
		padding: 1.55em;
	}

	&:not(:disabled) {
		cursor: pointer;
	}


	&_primary {
		--btn-color: var(--accent-color);
		--btn-border-color: var(--btn-color);
	}
	&_stroke {
		--btn-border-color: var(--accent-color);
	}

	&_primary::before,
	&_primary::after,
	&_stroke::before {
		content: '';
		height: calc(100% + 1px);
		left: 0;
		position: absolute;
		transition: .32s;
		width: 100%;
		z-index: -1;
	}

	&_stroke {
		--move: 100%;
		z-index: 0;

		&::before {
			background-color: var(--btn-border-color);
			bottom: 101%;
		}

		&:hover {
			&::before {
				transform: translateY(198%);
			}
		}

	}

	&_primary {
		--move: -250%;
		z-index: 0;

		&::before,
		&::after {
			background-color: var(--btn-color);
		}

		&::before {
			bottom: 0;
		}
		&::after {
			bottom: var(--move);
		}

		&:hover {
			&::before {
				transform: translateY(var(--move));
			}
			&::after {
				height: 101%;
				transform: translateY(calc(var(--move) + 1px));
			}
		}

	}
}

.dark-form {

	--input-compact-height: 50px;
	--focus-outline: 1px solid var(--light-grey-color);
	--input-border: 1px solid var(--grey-color);
	--input-font: var(--accent-font);

	input[type=date],
	input[type=datetime],
	input[type=email],
	input[type=image],
	input[type=month],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=time],
	input[type=url],
	input[type=week],
	.option,
	.text-radio label,
	.text-checkboxes label,
	textarea {
		background: none;
		border: var(--input-border);
		font-family: var(--input-font);
		font-size: 14px;
		padding: 1.4em 1.1em 1.2em;
	}

	input[type=number] {
		text-align: center;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	.number {
		&__input {
			display: flex;
			width: 100%;
		}
		input[type="button"] {
			background: none;
			border: var(--input-border);
			cursor: pointer;
			height: var(--input-compact-height);
			width: var(--input-compact-height);
			z-index: 1;
			&:focus {
				outline: var(--focus-outline);
			}

			&:first-of-type {
				border-right: none;
			}
			&:last-of-type {
				border-left: none;
			}
		}
		input[type="number"] {
			border: var(--input-border);
			background: none;
			flex-grow: 1;
			height: var(--input-compact-height);
			&:focus {
				outline: var(--focus-outline);
			}
		}
	}


	textarea {
		max-height: 45em;
		min-height: 10em;
		resize: vertical;
		transition: 0s;
	}
	input[type=submit] {
		background-color: var(--grey-color);
		color: var(--light-grey-color);
		font-family: var(--accent-font);
		font-size: 14px;
		padding: 1.46em 1.1em 1.28em;
		text-transform: uppercase;
	}
	legend {
		color: var(--light-grey-color);
	}
	> fieldset {
		margin-top: 2rem;
	}
	legend {
		margin-bottom: .75rem;
	}
	.text-radio,
	.text-checkboxes {
		display: block;
		font-size: 19px;

		input {
			display: none;

			&:checked + label {
				border-color: var(--accent-color);
			}
		}
		&_footered {
			padding-bottom: 1.5rem;
		}
		label {
			cursor: pointer;
			display: flex;
			font-family: var(--main-font);
			font-size: inherit;
			justify-content: center;
			position: relative;
			padding: .6em .6em .55em;
			&:focus {
				outline: var(--focus-outline);
			}

			footer {
				bottom: -50%;
				font-size: 14px;
				left: 0;
				position: absolute;
				color: var(--light-grey-color);
				text-align: center;
				width: 100%;
			}
		}
		&__buttons {
			display: flex;
			flex-wrap: wrap;
			gap: 2.5rem 0;

			label {
				flex-basis: 50%;
				flex-grow: 1;
				text-align: center;
			}
			&_triple {
				label {
					flex-basis: 33.33%;
				}
			}
		}
	}
	a {
		color: var(--accent-color);
		text-decoration: none;
	}

	.text-select {
		font-size: 19px;

		&__input {
			position: relative;
			position: relative;
			color: inherit;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			justify-content: center;

			input {
				align-items: center;
				background: none;
				border: var(--input-border);
				display: flex;
				height: var(--input-compact-height);
				position : relative;
				width: 100%;
				z-index: 1;
				padding-top: .5rem;
				padding-bottom: .5rem;
				font-size: inherit;
	
				&:focus {
					outline: var(--focus-outline);
				}
	
				&:hover{
					cursor: pointer;
				}
			}
			&:after{
				background-image: url($imgPath + 'icons/chevron.svg');
				background-repeat: no-repeat;
				background-position: center;
				content: '';
				font-size: 25px;
				height: 16px;
				position : absolute;
				right: 20px;
				text-align: center;
				width: 16px;
				z-index: 0;
			}
		}
		.option {
			align-items: center;
			cursor: pointer;
			display: flex;
			font-size: 19px;
			height: var(--input-compact-height);
			margin-top: -1px;
			padding-bottom: .44rem;
			padding-top: .56rem;

			&:hover {
				background-color: var(--accent-color);
				transition: .2s;
			}
		}
	}

	.file-drop {
		cursor: pointer;
		font-size: 12px;

		&__box {
			align-items: center;
			background: var(--unnamed, #111);
			display: flex;
			flex-direction: column;
			gap: 1rem;
			justify-content: center;
			padding: 2rem;
			position: relative;
	
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23666' stroke-width='1' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		}

		&__input {
			cursor: pointer;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;
			&:focus {
				outline: none;
			}
		}

		&__btn {
			background-color: var(--grey-color);
			padding: .5rem 1rem;
			font-size: 14px;
		}

		&__note {
			color: var(--light-grey-color);
			text-align: center;
			margin-top: .25rem;
		}
		&__msg {
			color: var(--light-grey-color);
		}
	}

}
.text-select__options {
	overflow: hidden;
	transition: max-height 0.3s;
}


.constructor {
	--input-font: inherit;
}


.product-preview {

	&__box {
		position: sticky;
		top: 10px;
	}
	&__picture {
		border-width: 0 1px 0;
		border-style: solid;
		border-color: var(--grey-color);
		display: flex;
		justify-content: center;
		padding: 4rem 1rem;
	}
	&__price {
		color: var(--light-grey-color);
		display: flex;
		border: 1px solid var(--grey-color);
		font-size: 19px;

		> section {
			flex-grow: 1;
			flex-basis: 50%;
			padding: 1.2rem;
			display: flex;
			flex-direction: column;
			gap: .25em;

			&:nth-child(2) {
				border-left: 1px solid var(--grey-color);
			}
		}

	}

	&__total {
		
		.btn {
			width: 100%;
		}
	}

	&__note {
		color: var(--light-grey-color);
		font-size: 14px;
		text-align: center;
		max-width: 400px;
		margin: auto;
		margin-top: 1rem;
	}
	b {
		font-weight: normal;
		color: var(--accent-color);
	}
}

.product-form {
	padding: 2rem 0 0 2rem;

	h1 {
		text-align: left;
		font-size: 35px;
	}
	.faq__block {
		margin-top: 1rem;
	}
}

.simply-table {
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;

	
	tbody tr:nth-child(odd) {
		color: var(--text-color);
	}


	th {
		text-align: inherit;
		font-weight: normal;
		color: var(--text-color);
	}

	th, td {
		padding: 0 .55rem .55rem 0
	}

	th {
		padding-bottom: 1rem;
	}
}