h1, h2, h3, h4, h5, h6 {
	font-family: var(--accent-font);
	line-height: 120%;
	text-transform: uppercase;
}

h1 {
	font-size: 45px;
	font-weight: 400;
	// letter-spacing: -2%;
}
h2 {
	font-size: 35px;
	// letter-spacing: -2%;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}

@include sm-and-less {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 14px;
	}
	h4 {
		font-size: 10px;
	}
	h5 {
		font-size: 10px;
	}
	h6 {
		font-size: 10px;
	}
}

.focus-title {
	max-width: 640px;
	text-align: center;
	margin: auto;
	background: var(--unnamed, linear-gradient(140deg, #323232 0%, #F3F3F3 100%));
	background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	font-size: 35px;
	font-family: var(--accent-font);
}

strong {
	font-weight: inherit;
	color: var(--accent-color);
}

.btn {
	--btn-color: transperent;
	--btn-border-color: var(--grey-color);

	border: 1px solid var(--btn-border-color);
	display: inline-block;
	font-family: var(--accent-font);
	font-size: 12px;
	letter-spacing: 0.01em;
	overflow: hidden;
	padding: 1.45em 3.1em 1.35em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;

	@include sm-and-less {
		padding: 1.4em 3.1em 1.2em;
	}

	&_primary {
		--btn-color: var(--accent-color);
		--btn-border-color: var(--btn-color);
	}
	&_stroke {
		--btn-border-color: var(--accent-color);
	}

	&_primary::before,
	&_primary::after,
	&_stroke::before {
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		transition: .32s;
		width: 100%;
		z-index: -1;
	}

	&_stroke {
		--move: 100%;
		z-index: 0;

		&::before {
			background-color: var(--btn-border-color);
			bottom: 101%;
		}

		&:hover {
			&::before {
				transform: translateY(195%);
			}
		}

	}

	&_primary {
		--move: -250%;
		z-index: 0;

		&::before,
		&::after {
			background-color: var(--btn-color);
		}

		&::before {
			bottom: 0;
		}
		&::after {
			bottom: var(--move);
		}

		&:hover {
			&::before {
				transform: translateY(var(--move));
			}
			&::after {
				transform: translateY(var(--move));
			}
		}

	}
}