.article {
	font-size: 19px;
	line-height: 1.45em;
	margin-top: var(--page-top-margin);

	h1 {
		margin-bottom: 3rem;
	}

	h2 {
		margin-bottom: 1.5rem;
	}

	&__focused {
		max-width: 900px;
		text-align: center;
	}
	&__block + &__block {
		margin-top: 2rem;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		img {
			max-height: 44px;
		}
	}
	&__footer {
		margin-top: 2rem;
	}

	&+& {
		margin-top: calc(var(--page-top-margin) * 1.75);
	}
}
.form-page {
	margin-top: var(--page-top-margin);
	max-width: 450px;
	
	&__header {
		font-size: 19px;
		line-height: 1.3em;
		margin-bottom: 2rem;
		text-align: center;
		
		h1 {
			font-size: 25px;
			line-height: 1.3em;
			margin-bottom: .75rem;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.form-note {
		margin: auto;
		max-width: 380px;
		text-align: center;
	}
}

.products-title {
	border-color: var(--grey-color);
	border-width: 0 1px 1px;
	border-style: solid;
	padding: 1.3rem 1.3rem 1rem;

	h1 {
		font-size: 20px;
	}

	& + .products-grid {
		margin-top: initial;
	}
}

.products-grid {
	--elements: 5;
	--product-gap: 1px;
	--product-color: var(--grey-color);
	background-color: var(--product-color);
	display: grid;
	gap: var(--product-gap);
	grid-template-columns: repeat(var(--elements), 1fr);
	overflow: hidden;
	margin-top: -1px;
	border-color: var(--product-color);
	border-width: 0 1px 1px;
	border-style: solid;

	> a {
		background-color: var(--back-color);
		display: flex;
		flex-direction: column;
		font-family: var(--accent-font);
		gap: 1.5rem;
		// overflow: hidden;
		padding: 2.5rem;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		img {
			width: 100%;
		}

		&::after {
			background-color: var(--back-color);
			bottom: calc(-100% - 1px);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			pointer-events: none;
			position: absolute;
			user-select: none;
			width: 100%;
		}
		

		&::before {
			background-color: var(--accent-color);
			bottom: 0;
			content: '';
			display: block;
			height: 8px;
			left: 0;
			position: absolute;
			transform: translateY(10px);
			transition: transform .3s;
			width: 100%;
		}

		&:hover {
			&::before {
				transform: translateY(2px);
			}
		}
	}
}

.accordion {

	&__block {
		margin: .25rem auto 0;
		max-width: 900px;
		font-size: 14px;
		padding: .4rem 0;

	}

	&__section {
		position: relative;
		// padding: 1.4rem 0 1rem;
		&::before,
		&:last-child::after {
			background-image: var(--silver-line);
			content: '';
			display: block;
			height: 1px;
			left: 0;
			opacity: .66;
			position: absolute;
			width: 100%;
		}
		&::before {
			top: 0;
		}
		&:last-child::after {
			bottom: 0;
		}
	}

	&__question {
		align-items: center;
		cursor: pointer;
		display: flex;
		font-family: var(--accent-font);
		font-size: 12px;
		justify-content: space-between;
		padding: 1.5rem 1rem 1.1rem 3.3rem;
		position: relative;
		text-transform: uppercase;

		&::before {
			background-image: url($imgPath + '/icons/plus.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			height: 23px;
			left: 1.25rem;
			margin-bottom: 3px;
			position: absolute;
			width: 23px;
		}
	}

	&__answer {
		color: var(--light-grey-color);
		line-height: 1.4em;
		margin-top: .2rem;
		max-height: 0px;
		overflow: hidden;
		padding-left: 3.3rem;
		transition: .35s ease;
	}
}
.accordion__section.active {
	padding-bottom: 1.4rem;
	.accordion__answer {
		max-height: 1000px;
	}
}