.hero {
	$shirts: $imgPath + 'graphics/shirts.png';
	$lines: $imgPath + 'graphics/lines.svg';

	&-section {
		align-items: center;
		background-image:
			url($shirts),
			url($lines);
		background-position:
			center 190px,
			center calc(-11vw + (1920px - 100vw) * 0.15);
		background-size:
			1440px,
			140vw;
		background-repeat: no-repeat;
		height: 1134px;
		padding-top: 54px;
		text-align: center;

		@include md {
			background-position:
				center 190px,
				center calc(-11vw + (1920px - 100vw) * 0.25);
		}
		@include sm-and-less {
			background-image: url($shirts);
			padding-top: 42px;
			background-size: 590px;
		}
		@include sm {
			background-position: center 82px;
			height: 680px;
		}
		@include xs {
			background-position: center 118px;
			height: 790px;
		}
	}

	&__note {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		justify-content: center;

		h1 {
			display: inline-block;
			max-width: 680px;
			text-align: center;
		}

		@include sm {
			max-width: 540px;
		}
		@include xs {
			max-width: 360px;
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: .3rem;
	}
	&__advantages {
		backdrop-filter: blur(15px);
		background: rgba(255, 255, 255, 0.05);
		border-image: linear-gradient(to bottom, #F3F3F3, #323232) 1;
		border-style: solid;
		border-width: 1px;
		display: grid;
		grid-gap: 3.4rem;
		grid-template-columns: repeat(4,1fr);
		justify-content: space-between;
		margin-top: 370px;
		max-width: 1056px;
		padding: 2.2em 1.35em;

		> section {
			font-size: 19px;
			line-height: 1.55em;
			@include sm-and-less {
				font-size: 12px;
				line-height: 1.55em;
			}
		}
		@include md {
			padding: 2.1em 2em 2em;
			grid-gap: 2rem;
		}
		@include sm {
			margin-top: 150px;
			grid-gap: .25rem;
			padding: 1.4em 2.5em;
		}
		@include xs {
			margin-top: 110px;
			grid-gap: 1.5rem 1rem;
			padding: 1.2em 4.6em;
			grid-template-columns: 1fr 1fr;
		}
		@include xxs {
			grid-gap: 1rem .8rem;
			padding: 1.2em 2em;
		}

	}

	&__footer {
		font-size: 14px;
		line-height: 1.45em;
		margin-top: 1.2rem;
		max-width: 220px;
		opacity: .75;
		@include sm-and-less {
			font-size: 12px;
			max-width: 180px;
			margin-top: 1rem;
		}
	}

	&__desktop-actions {
		@include sm-and-less {
			display: none;
		}
	}

	&__mobile-actions {
		grid-column-end: 5;
		grid-column-start: 1;
		padding-top: 2.4rem;
		@include more-than-sm {
			display: none;
		}
		@include xs {
			grid-column-end: 3;
			padding-top: 0;
		}
	}
}

.products {
	&-section {
		h2 {
			margin-bottom: 3.6rem;
			@include sm-and-less {
				margin-bottom: 2.5rem;
			}
		}
	}
}

.poduct {
	align-items: center;
	background-color: var(--back-color);
	background-image: var(--carbon-gradient);
	border: 1px solid var(--grey-color);
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 1.4rem 1.4rem 1rem;
	@include sm-and-less {
		padding: 1.2rem 1rem 1rem;
	}

	&__title {
		font-size: 14px;
		font-family: var(--accent-font);
		width: 100%;
		text-transform: uppercase;
		@include sm-and-less {
			font-size: 16px;
		}

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-image: url($imgPath + 'graphics/silver-line.svg');
			background-position: center;
			background-repeat: no-repeat;
			margin: .71rem 0;
			@include sm-and-less {
				margin: .64rem 0;
			}
		}
	}

	&__focused {
		.poduct__title {
			color: var(--accent-color);
		}
		.poduct__img {
			position: relative;
			padding-bottom: 1.8rem;

			img {
				z-index: 1;
			}

			&::before {
				background: rgba(251, 59, 17, .30);
				border-radius: 342px;
				content: '';
				display: block;
				filter: blur(50px);
				height: 90%;
				width: 90%;
				position: absolute;
				z-index: 0;
				bottom: 4%;
			}
		}
	}

	&__note {
		color: var(--light-grey-color);
		line-height: 1.44em;
		@include sm-and-less {
			font-size: 12px;
			line-height: 1.3em;
		}
	}
	&__img {
		align-items: flex-end;
		display: flex;
		flex-grow: 1;
		justify-content: center;
		padding-bottom: 2.4rem;
		img {
			@include md {
				width: 210px;
			}
			@include sm-and-less {
				width: 190px;
			}
		}
		@include sm-and-less {
			padding-bottom: 1.5rem;
		}
	}
}

.tech {

	&-section {
		margin-top: 9.5rem;
		@include sm-and-less {
			margin-top: 6.2rem;
		}
	}

	&__list {
		--tech-gap: 4.15rem;
		background-image: url($imgPath + 'graphics/circle.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 82%;
		color: var(--light-grey-color);
		display: grid;
		font-size: 19px;
		grid-gap: var(--tech-gap) 3rem;
		grid-template-columns: 1fr 1fr;
		line-height: 1.35em;
		margin-top: 8.2rem;
		padding: 0 1rem;
		text-align: center;
		@include sm-and-less {
			font-size: 14px;
			margin-top: 4.5rem;
			line-height: 1.4em;
			--tech-gap: 1.65rem;
		}
		@include xs {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		position: relative;
		padding-bottom: var(--tech-gap);
		@include sm-and-less {
			gap: .95rem;
		}

		&::after {
			background-image: var(--silver-line);
			bottom: 0;
			content: '';
			display: block;
			height: 1px;
			left: 0;
			opacity: .66;
			position: absolute;
			width: 100%;
		}
		&:nth-last-child(-n+2) {
			&::after {
				display: none;
				@include xs {
					display: block;
				}
			}
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.25rem;
		@include sm-and-less {
			gap: 1rem;
		}
	}
	&__icon {
		height: 42px;
		width: 42px;
	}

	&__title {
		color: var(--light-color);
		font-family: var(--accent-font);
		font-size: 25px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		@include sm-and-less {
			font-size: inherit;
		}
	}

}

.man-icons {
	$fade-move: -1.5rem;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	position: relative;
	margin: 3.6rem auto 2.5rem;
	width: 100%;
	overflow: hidden;
	padding: 0 .25rem;

	@include sm-and-less {
		margin: 3.6rem auto 2rem;
		flex-wrap: wrap;
	}
	@mixin fade-out($direction) {
		background-image: linear-gradient($direction, #111 7.10%, rgba(17, 17, 17, 0.00) 100%);
	}

	img {
		pointer-events: none;
		user-select: none;
		@include sm-and-less {
			flex-basis: 15%;
			height: 50px;
			&:nth-child(11) {
				display: none;
			}
		}
	}

	&::before,
	&::after {
		content: '';
		display: block;
		width: 11rem;
		position: absolute;
		top: 0;
		height: 100%;
	}

	&::before {
		@include fade-out(90deg);
		left: $fade-move;
	}
	&::after {
		@include fade-out(270deg);
		right: $fade-move;
	}
}

.btn-line {
	display: flex;
	justify-content: center;
	margin: 2rem auto;
}

.examples {

	&-section {
		margin-top: 9.5rem;
		@include sm-and-less {
			margin-top: 6.5rem;
		}
	}

	&__slider {
		--img-height: 627px;
		margin-top: 4rem;
		display: flex;
		max-width: 100vw;
		overflow-x: hidden;
		@include sm-and-less {
			--img-height: 490px;
			margin-top: 2.6rem;
			max-height: var(--img-height);
		}
		img {
			height: var(--img-height);
		}
	}
}


.steps {

	&-section {
		margin-top: 9rem;
		@include sm-and-less {
			margin-top: 6.2rem;
		}

		.btn-line {
			margin: 3.65rem auto;
		}
	}

	&__list {
		--grid-count: 3;
		background-color: var(--grey-color);
		margin-top: 3.6rem;
		display: grid;
		grid-template-columns: repeat(var(--grid-count), 1fr);
		grid-template-rows: repeat(2, 350px);
		padding: 1px;
		grid-gap: 1px;
		@include sm {
			--grid-count: 2;
			margin-top: 2.5rem;
		}
		@include xs {
			--grid-count: 1;
		}
	}

	&__item {
		--steps-back-color: var(--dark-color);
		background-color: var(--steps-back-color);
		padding: 22px 18px;
		display: grid;
		grid-template-rows: 142px auto;
		grid-gap: 1rem;
	}

	&__head {
		background-image: url($imgPath + 'graphics/triangle-pattern.svg');
		background-repeat: repeat;
		
	}

	&__info {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: .95rem;
		justify-content: flex-end;
		line-height: 1.4em;
		padding-right: 2rem;
	}
	&__icon {
		background-color: var(--steps-back-color);
		display: inline-block;
		margin-top: 13px;
		padding: 16px 32px 16px 0;
	}

	&__subtitle,
	&__title {
		font-family: var(--accent-font);
		text-transform: uppercase;
	}
	&__subtitle {
		font-size: 12px;
		color: var(--light-grey-color);
	}

	&__title {
		font-size: 18px;
	}

}


.about {

	&-section {
		margin-top: 9.5rem;
		padding-bottom: 9.6rem;
		z-index: -1;
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
		overflow-x: hidden;

		&::before {
			background-color: coral;
			background-image: url($imgPath + 'runner.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			content: '';
			display: block;
			height: 1080px;
			position: absolute;
			transform: translate(280px, 68px);
			width: 1000px;
			z-index: -1;

			@include md {
				transform: translate(124px, 0);
				height: 96%;
				height: 1090px;
			}
			@include sm {
				transform: translate(140px, -60px);
				height: 534px;
				width: 700px;
			}
			@include xs {
				transform: translate(60px, -260px);
				height: 520px;
				width: 500px;
			}
		}

		@include md {
			margin-top: 12rem;
		}
		@include sm {
			margin-top: 0;
			padding-bottom: 1rem;
		}
		@include xs {
			margin-top: 0;
			padding-top: 12.5rem;
			padding-bottom: 1rem;
		}
	}
	&__header img {

		@include md {
			max-width: 60rem;
		}
		@include sm {
			max-width: 38rem;
			margin-top: 5.25rem;
		}
		@include xs {
			max-width: 28rem;
		}
	}
	&__title {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		background-image: linear-gradient(140deg, #F3F3F3 0%, #000 100%);
		font-family: var(--accent-font);
		font-size: 45px;
		font-weight: 400;
		letter-spacing: -0.015em;
		margin-top: 3.5rem;
		max-width: 46rem;
		text-transform: uppercase;
		@include md {
			margin-top: 6rem;
		}
		@include sm {
			max-width: 320px;
		}
		@include sm-and-less {
			font-size: 20px;
			margin-top: 1.25rem;
		}
	}

	&__text {
		color: var(--light-grey-color);
		font-size: 19px;
		line-height: 1.52em;
		margin-top: 3.8rem;
		max-width: 660px;

		> p + p {
			margin-top: .5rem;
		}
		@include sm {
			margin-top: .5rem;
			font-size: 14px;
		}
		@include xs {
			margin-top: 1.2rem;
			font-size: 14px;
		}
	}

	&__achievements {
		display: flex;
		gap: 4rem;
		margin-top: 4.2rem;
		@include sm-and-less {
			margin-top: 1.7rem;
			justify-content: space-between;
			padding-right: 2rem;
		}

		header {
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			background-image: linear-gradient(140deg, #323232 0%, #F3F3F3 100%);
			font-size: 84px;
			font-weight: 400;
			font-family: var(--accent-font);
			letter-spacing: -0.015em;
			@include sm {
				font-size: 50px;
				text-align: right;
			}
			@include xs {
				text-align: right;
				font-size: 40px;
			}
		}

		footer {
			font-size: 14px;
			text-align: right;
			color: var(--light-grey-color);
			@include xs {
				text-align: right;
				max-width: 8em;
			}
		}
	}

}


.form {

	&-section {
		--form-border-color: var(--grey-color);
		margin-top: 8.1rem;
		@include sm-and-less {
			margin-top: 5.5rem;
		}
	}

	&__block {
		background-color: var(--back-color);
		border: 1px solid var(--form-border-color);
		display: grid;
		grid-template-columns: 1fr 1fr;
		position: relative;
		@include sm-and-less {
			grid-template-columns: 1fr;
		}

		&:before {
			background-color: #8B8B8B;
			border-radius: 863px;
			content: '';
			display: block;
			filter: blur(250px);
			height: 55%;
			left: 50%;
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			user-select: none;
			width: 55%;
			z-index: -1;
			@include sm-and-less {
				display: none;
				content: none;
			}
		}
	}
	&__main {
		border-right: 1px solid var(--form-border-color);
		padding: 2.7rem 2.7rem 2.4rem;
		background-color: var(--dark-color);
		@include sm-and-less {
			padding: 1.25rem .5rem;
		}
	}
	&__aside {
		background-image: url($imgPath + 'graphics/sale-40.svg');
		background-repeat: no-repeat;
		background-size: 138%;
		background-position: center;
		@include md {
			background-size: 200%;
		}
		@include sm {
			height: 220px;
			order: -1;
			background-size: 80%;
			background-position: center 40%;
		}
		@include sm-and-less {
			border-bottom: 1px solid var(--form-border-color);
		}
		@include xs {
			height: 220px;
			order: -1;
			background-size: 110%;
			background-position: center 40%;
		}
	}

	&__header {
		text-align: center;

		b {
			font-weight: inherit;
			color: var(--accent-color);
		}
	}

	&__title {
		font-family: var(--accent-font);
		font-size: 18px;
		line-height: 1.17em;
		text-transform: uppercase;
		@include sm-and-less {
			font-size: 14px;
			line-height: 1.3em;
		}
	}
	&__subtitle {
		font-size: 14px;
		line-height: 1.5em;
		margin: .6rem auto;
		max-width: 320px;
		@include sm-and-less {
			font-size: 12px;
		}
		@include sm-and-less {
			max-width: initial;
			margin: .5rem auto;
		}
	}

	&__fields {
		display: flex;
		flex-direction: column;
		gap: 1.1rem;
		margin-top: 1.2rem;
		@include sm-and-less {
			gap: .5rem;
		}
	}
	&__legal {
		line-height: 1.2em;
		margin-top: .1rem;
		max-width: 300px;
		text-align: center;
		margin: auto;
		width: 100%;

		a {
			color: var(--accent-color);
		}
	}

}

.timer {
	border: 1px solid var(--grey-color);
	display: flex;
	flex-direction: column;
	gap: .7rem;
	padding: 1.4rem 1.4rem 1rem;
	text-align: center;

	&__title {
		font-family: var(--accent-font);
		font-size: 18px;
		text-transform: uppercase;
		@include sm-and-less {
			font-size: 14px;
		}
	}
	&__value {
		color: var(--accent-color);
		font-family: arial;
		font-size: 35px;
		letter-spacing: -0.01em;
		@include sm-and-less {
			font-size: 25px;
		}

		span+span:before {
			content: ':';
		}
	}
}


.faq {
	&-section {
		margin-top: 9.2rem;

		@include sm-and-less {
			margin-top: 6.3rem;
		}
		.accordion__block {
			margin-top: 3.4rem;
		}
	}
}
