
.carousel {
	max-width: 100%;
	overflow: hidden;

	&-wrapper {
		display: flex;
		transition: .33s;
		cursor: grab;
	}

	&.dragging {
		cursor: grabbing;
		.carousel-wrapper {
			transition: .05s;
		}
	}

	img {
		user-select: none;
		max-width: 100vw;
	}
}
.carousel-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

// .carousel-prev-button,
// .carousel-next-button {
// 	padding: 5px 10px;
// 	border: none;
// 	background-color: #f0f0f0;
// 	cursor: pointer;
// }

// .carousel-prev-button:hover,
// .carousel-next-button:hover {
// 	background-color: #e0e0e0;
// }

.carousel-navigation {
	border-bottom: 1px solid var(--grey-color);
	display: flex;
	align-items: center;
	margin-top: 0;
	padding: .5rem .75rem;
	button {
		background-image: url($imgPath + 'icons/long-arrow.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 85%;
		border-radius: 18px;
		height: 60px;
		// border: 1px solid grey;
		padding: 0;
		width: 20vw;
		max-width: 90px;
		cursor: pointer;
		opacity: .75;

		&:hover {
			background-image: url($imgPath + 'icons/long-arrow-active.svg');
			opacity: .95;
		}

		&.carousel-next-button {
			&:hover {
				background-position: 75% center;
			}
		}

		&.carousel-prev-button {
			transform:rotate(180deg);
		}
	}
}
// .carousel-wrapper {
// 	// max-width: 1200px;
// 	align-items: flex-end;
// 	display: flex;
// 	justify-content: center;
// 	margin: auto;
// 	position: relative;
// 	width: $lg-grid;

// 	@include lg {
// 		width: $lg-grid;
// 	}
// 	@include md {
// 		width: $md-grid;
// 	}
// 	@include sm-and-less {
// 		width: 100%;
// 	}
// }


// .carousel-wrapper .carousel {
// 	--item-width: 1fr;
// 	cursor: pointer;
// 	overflow: hidden;
// 	scroll-behavior: smooth;
// 	width: 100%;
// 	display: grid;
// 	grid-template-columns: repeat(3, var(--item-width));

// 	@include md {
// 		--item-width: 320px;
// 	}
// 	@include sm-and-less {
// 		--item-width: 340px
// 	}
// }

// .carousel.dragging {
// 	cursor: grab;
// 	scroll-behavior: auto;
// }

// .carousel.dragging section {
// 	pointer-events: none;
// }

// .carousel section {
// 	// margin-left: 14px;
// 	// object-fit: cover;
// 	// width: 250px;
// 	// box-shadow: inset 0px 0px 20px black;

// 	display: inline-flex;
// 	height: 669px;
// 	width: 100%;

// 	@include md {
// 		height: 550px;
// 	}
// 	@include sm-and-less {
// 		height: 460px;
// 	}

// 	// > * {
// 	// 	width: 100%;
// 	// }
// }

// .carousel section+section {
// 	border-width: 1px 1px 1px 0;
// }

// // @media screen and (max-width: $sm) {
// // 	.carousel section {
// // 		width: calc(100% / 2);
// // 	}
// // }

// // @media screen and (max-width: $xs) {
// // 	.carousel section {
// // 		width: 100%;
// // 		background-color: teal !important;
// // 	}
// // }


// .carousel-wrapper {
// 	/* position: relative; */
// 	max-width: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// }


// .carousel {
// 	white-space: nowrap;
// 	font-size: 0;
// 	overflow: hidden;
// 	cursor: pointer;
// 	scroll-behavior: smooth;
// }

// .carousel.dragging {
// 	cursor: grab;
// 	scroll-behavior: auto;
// }

// .carousel.dragging img {
// 	pointer-events: none;
// }

// .carousel img {
// 	height: 627px;
// 	width: calc(100% / 4.5);
// 	object-fit: cover;
// 	// margin-left: 14px;
// }

// .carousel img:first-child {
// 	margin-left: 0;
// }
// .carousel img:nth-child(odd) {
// 	opacity: .5;
// }

// @media screen and (max-width: 900px) {
// 	.carousel img {
// 		width: calc(100% / 2);
// 	}
// }

// @media screen and (max-width: 550px) {
// 	.carousel img {
// 		width: 100%;
// 	}
// }