div
	table.simply-table
		caption Мужчины
		thead
			tr
				th(width="25%") рост
				td(colspan=2)
					span 176–182
				td(colspan=2)
					span 182-188
				td(colspan=2)
					span 188-194
		tbody
			tr
				th(width="25%") размер
				th.br S
				th.br M
				th.br L
				th.br XL
				th.br 2XL
				th 3XL
			tr
				th(width="25%") обхват груди/бедер
				td.br 90–94
				td.br 94–100
				td.br 100–108
				td.br 108–116
				td.br 116–128
				td 128–136

	table.simply-table
		caption Женщины
		thead
			tr
				th(width="25%") рост
				td(colspan=2)
					span 164–170
				td(colspan=2)
					span 170–176
				td(colspan=2)
					span 176–182
		tbody
			tr
				th(width="25%") размер
				th XXS
				th XS
				th S
				th M
				th L
				th XL
			tr
				th(width="25%") обхват груди/бедер
				td 78–82
				td 82–86
				td 86–90
				td 90–94
				td 94–100
				td 100–108

	table.simply-table
		caption Дети (110-140)
		thead
			tr
				th(width="25%") рост
				td 110–116
				td 116–122
				td 122–128
				td 128–134
				td 134–140
				td 140–146
		tbody
			tr
				th(width="25%") размер
				th 110
				th 116
				th 122
				th 128
				th 134
				th 140
			tr
				th(width="25%") обхват груди/бедер
				td 58–60
				td 60–62
				td 62–64
				td 64–66
				td 66–68
				td 68–70

	table.simply-table
		caption Дети (146-176)
		thead
			tr
				th(width="25%") рост
				td 146–152
				td 152–158
				td 158–164
				td 164–170
				td 170–176
		tbody
			tr
				th(width="25%") размер
				th 146
				th 152
				th 158
				th XXS
				th XS
			tr
				th(width="25%") обхват груди/бедер
				td 70–74
				td 74–78
				td 78–82
				td 82–86
				td 86–88