.carousel
	.container.carousel-wrapper
		section.poduct
			div.poduct__title Training
			div.poduct__note Однотонная футболка, без вставок, <wbr>1&nbsp;вариант&nbsp;конструкции футболки
			picture.poduct__img
				img(src=imgPath + "products/shirt-1.png", alt="")
			div.poduct__actions
				a(href="/category.html").btn.btn_stroke от&nbsp;1500&nbsp;₽

		section.poduct.poduct__focused
			div.poduct__title Pro
			div.poduct__note Индивидуальный подход, адаптированный дизайн, все виды нанесений, различные сочетания цветов, технологичные пропитки
			picture.poduct__img
				img(src=imgPath + "products/shirt-2.png", alt="")
			div.poduct__actions
				a(href="/category.html").btn.btn_stroke от&nbsp;1500&nbsp;₽

		section.poduct
			div.poduct__title Game
			div.poduct__note Не более 2-х цветов, могут быть вставки, два вида конструкции футболки, материал с&nbsp;пропитками
			picture.poduct__img
				img(src=imgPath + "products/shirt-3.png", alt="")
			div.poduct__actions
				a(href="/category.html").btn.btn_stroke от&nbsp;1500&nbsp;₽
