.carousel
	.container.carousel-wrapper
		section.poduct
			div.poduct__title Training
			div.poduct__note Однотонная футболка, несколько вариантов конструкции. Материал 100%-полиэстер. Возможны нанесения (принт, номер, фамилия, спонсор, эмблема клуба)
			picture.poduct__img
				img(src=imgPath + "products/shirt-1.png", alt="")
			div.poduct__actions
				a(href="/category.html").btn.btn_stroke от&nbsp;1590&nbsp;₽

		section.poduct.poduct__focused
			div.poduct__title Game
			div.poduct__note Сочетания однотонных цветов. Несколько вариантов конструкции. Возможны совмещения разных материалов. 100%-полиэстер. Технологичные пропитки. Возможны нанесения (принт, номер, фамилия, спонсор, эмблема&nbsp;клуба)
			picture.poduct__img
				img(src=imgPath + "products/shirt-3.png", alt="")
			div.poduct__actions
				a(href="/category.html").btn.btn_stroke от&nbsp;2190&nbsp;₽

		section.poduct
			div.poduct__title Pro
			div.poduct__note Индивидуальный подход, адаптированный дизайн под требования заказчика. Современные конструкции футболок. Материал 100%-полиэстер, возможны изменения состава. Технологичные пропитки (Dri-fit, Cool-dry). Все виды нанесений.
			picture.poduct__img
				img(src=imgPath + "products/shirt-2.png", alt="")
			div.poduct__actions
				a(href="/category.html").btn.btn_stroke от&nbsp;2990&nbsp;₽

