- const address      = 'Город Краснодар, улица Российская 354, БЦ «Вектор», 3 этаж офис 308'
- const wildberries  = 'https://www.wildberries.ru/seller/867852'
- const vk           = 'https://vk.com/essko_sportwear'
- const whatsApp     = 'https://wa.me/c/79181394447'
- const email        = 'esskosportwear@mail.ru'
- const telFormatted = '+7 (918) 139 44 47'
- const telClear     = '+79181394447'
- const form         = '/form.php'