extends ../templates/simply

block vars
	- const title = 'Страница не найдена'

block content
	div.not-found
		img.not-found__(src=imgPath + "graphics/404.svg", alt="404")
		div.not-found__text
			h1 страница не&nbsp;найдена
			p Похоже эта страница не&nbsp;работает :(
		a(href="/").btn.btn_primary
			span На главную