extends ../templates/common

block vars
	- const title = 'О нас'

block content

	article.container.article
		h1.focus-title #{title}
		p essko&nbsp;&mdash; компания по&nbsp;произовдству спортивной повседневной одежды и&nbsp;экипировки на&nbsp;заказ. Мы&nbsp;предлогаем качественную, функциональную и&nbsp;стильную одежду для спортивных команд, школ&nbsp;и&nbsp;академий различных видов спорта.
		p В&nbsp;своем производстве используем широкий ассортимент современных качественных материалов. Приобретайте essko и&nbsp;наслаждайтесь комфортом и&nbsp;качеством в&nbsp;каждой детали.