extends ../templates/common

block vars
	- const title = 'Аксессуары – категория'

block content
	.container.products-title
		h1.focus-title Аксессуары
	.container.products-grid.products-grid_wide
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Рюкзаки и сумки")
			span Рюкзаки и сумки

		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Головные уборы")
			span Головные уборы

		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Носки")
			span Носки

		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Сувениры клуба")
			span Сувениры клуба
