extends ../templates/common

block vars
	- const title = 'Доставка и возврат'

block content

	article.container.article.article__focused
		h2.focus-title Доставка
		.article__block
			p Доставка осуществляется по&nbsp;России транспортными компаниями и&nbsp;курьерскими службами.Транспортная компания предварительно согласовывается с&nbsp;заказчиком.Возможна доставка до&nbsp;терминала транспортной компании в&nbsp;вашем городе так и&nbsp;доставка до&nbsp;адреса курьером.Цена и&nbsp;срок доставки рассчитывается персонально в&nbsp;зависимости от&nbsp;географического расположения региона и&nbsp;объема отправляемого груза согласно тарифам транспортных компаний.Доставка до&nbsp;терминала в&nbsp;городе отправителя бесплатная.Возможны отправки следующими транспортными копаниями :

		.article__block.article__list
			hr
			img(src=imgPath + "logos/delovielinii.svg", alt="Деловые Линии" title="Деловые Линии")
			hr
			img(src=imgPath + "logos/sdek.svg", alt="СДЭК" title="СДЭК")
			hr
			img(src=imgPath + "logos/pochta.svg", alt="Почта России" title="Почта России")
			hr

	article.container.article.article__focused
		h2.focus-title Возврат
		div
			p Доставка осуществляется по&nbsp;России транспортными компаниями и&nbsp;курьерскими службами.Транспортная компания предварительно согласовывается с&nbsp;заказчиком.Возможна доставка до&nbsp;терминала транспортной компании в&nbsp;вашем городе так и&nbsp;доставка до&nbsp;адреса курьером.Цена и&nbsp;срок доставки рассчитывается персонально в&nbsp;зависимости от&nbsp;географического расположения региона и&nbsp;объема отправляемого груза согласно тарифам транспортных компаний.Доставка до&nbsp;терминала в&nbsp;городе отправителя бесплатная.Возможны отправки следующими транспортными копаниями :
		.article__footer
			a(href="/return.html").btn.btn_stroke
				span Сообщить о проблеме