extends ../templates/main

block vars
	- const title = 'Главная'

block content

	section
		div.container
			h1 Пошив спортивной одежды для любого вида спорта
			div
				a(href="").btn.btn_primary Заказать экипировку

		div.container
			div
				section
					div
						img(src="", alt="")
					div Лояльные цены на всю продукцию
				section
					div
						img(src="", alt="")
					div
						| Бесплатная 
						a(href="") доставка 
						| по России *
				section
					div
						img(src="", alt="")
					div Лояльные цены на всю продукцию
				section
					div
						img(src="", alt="")
					div Лояльные цены на всю продукцию
			div
				small * Бесплатная доставка по&nbsp;России от&nbsp;50&nbsp;000&nbsp;₽

	section
		div.container
			h2 Создайте свою экипировку
		div
			section
				div Training
				div Однотонная футболка, без вставок, 1&nbsp;вариант конструкции футболки
				picture
					img(src="", alt="")
				div
					.btn от&nbsp;1500&nbsp;₽

			section
				div Pro
				div Индивидуальный подход, адаптированный дизайн, все виды нанесений, различные сочетания цветов, технологичные пропитки
				picture
					img(src="", alt="")
				div
					.btn от&nbsp;1500&nbsp;₽

			section
				div Game
				div Не более 2-х цветов, могут быть вставки, два вида конструкции футболки, материал с&nbsp;пропитками
				picture
					img(src="", alt="")
				div
					.btn от&nbsp;1500&nbsp;₽

	section
		div.container
			h2 Используйте лучшие технологии
		div.container
			div
				section
					pucture
						img(src="", alt="")
					div Высокая прочность
					div Ткань специально разработанна для того, чтобы выдерживать суровые условия интенсивной физической активности

				section
					pucture
						img(src="", alt="")
					div Эластичность
					div Сохранять форму и&nbsp;эластичность даже после многократного использования в&nbsp;тяжелых условиях и&nbsp;стирки

				section
					pucture
						img(src="", alt="")
					div Функциональсть
					div Подходит для высокоинтенсивных видов спорта, таких как бег, тяжелая атлетика, футбол и&nbsp;контактные виды спорта

				section
					pucture
						img(src="", alt="")
					div Современные пропитки
					div Пропитка повышает эксплуатационные характеристики материала, делая его прочным, водостойким и&nbsp;дышащим

				section
					pucture
						img(src="", alt="")
					div Термо регуляция
					div Ткань специально разработана для регулирования температуры тела во&nbsp;время физических нагрузок

				section
					pucture
						img(src="", alt="")
					div Быстрое высыхание
					div Ткань отводить влагу и&nbsp;сохраняет прохладу и&nbsp;комфорт во&nbsp;время интенсивных тренировок

	section
		div.container
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
		div
			.btn.btn_primary Выбрать экипировку

	section
		div.container
			h2 Примеры работы
		div
			div
				div
					div
					div
				div
					div
						picture
							img(src="/images/promo/promo-photo-1.jpg", alt="")
					div
						picture
							img(src="/images/promo/promo-photo-2.jpg", alt="")
					div
						picture
							img(src="/images/promo/promo-photo-3.jpg", alt="")
					div
						picture
							img(src="/images/promo/promo-photo-4.jpg", alt="")
					div
						picture
							img(src="/images/promo/promo-photo-5.jpg", alt="")

	section
		div.container
			h2 От&nbsp;идеи до реализации

		div.container
			div
				section
					div
						img(src="", alt="")
					div
						div Шаг 1
						div Запрос
						div Получаем от&nbsp;вас запрос, согласовываем наименование и&nbsp;количество изделий

				section
					div
						img(src="", alt="")
					div
						div Шаг 2
						div дизайн
						div По&nbsp;необходимости, разрабатываем дизайн учитывая фирменный стиль вашей организации/команды.

				section
					div
						img(src="", alt="")
					div
						div Шаг 3
						div Утверждение
						div Утверждаем дизайн макет, согласовываем материалы и&nbsp;виды нанесений

				section
					div
						img(src="", alt="")
					div
						div Шаг 4
						div договор
						div Выставляем счет, заключаем договор

				section
					div
						img(src="", alt="")
					div
						div Шаг 5
						div примерка
						div Отшиваем один образец со&nbsp;всеми нанесениями в&nbsp;готовом виде

				section
					div
						img(src="", alt="")
					div
						div Шаг 6
						div изготовление
						div Утверждаем образец, шьем всю партию

		div.container
			div
				a(href="").btn.btn_primary Заказать экипировку

	section
		div.container
			header
				img(src="", alt="")
			aside
				img(src="", alt="")
			div
				h2 Создаем действительно качественный продукт, который поможет вам в&nbsp;спорте
			div Essko&nbsp;— компания по&nbsp;производству спортивной одежды на&nbsp;заказ, которая предлагает высококачественную и&nbsp;стильную спортивную одежду для команд, школ и&nbsp;отдельных лиц. Обладая более чем 10-летним опытом работы в&nbsp;отрасли, они заработали репутацию производителя первоклассных продуктов и&nbsp;предоставления исключительного обслуживания клиентов.
			div
				section
					div 12
					div Лет работы
				section
					div >30
					div Крупных проектов
				section
					div 18
					div Крупных проектов


	section
		div.container
			div
				div
					form(action="")
						div
							div Получите скидку до&nbsp;40% для детских школ, академий или спортивных организация
							div Оставьте заявку и&nbsp;получите скидку до&nbsp;40% на&nbsp;первый заказ + бесплатный дизайн принта
						div
							div
								div Скидка действует
								div 00:00:02:59
							div
								input(type="text" placeholder="имя") 
								input(type="text" placeholder="эл. почта")
								input(type="text" placeholder="телефон")
							div
								input(type="submit" value="Получить скидку" disabled)
							div
								small
									| Нажимая кнопку «Получить скидку» вы соглашаетесь с&nbsp;
									a Политикой конфиденциальности

				div
					img(src="", alt="")

	section
		div.container
			h2 Часто задаваемые вопросы

		div.container
			div
				section
					div Какой срок производства заказа?
					div Стандартный срок производства заказа 10-15 рабочих дней.Есть возможность произвести заказ в&nbsp;сжатые сроки ( от&nbsp;3&nbsp;до&nbsp;7&nbsp;дней), за&nbsp;срочность мы&nbsp;берем дополнительную наценку 20-50%.
				section
					div Как происходит разработка дизайна?
					div Высылаем Вам бриф (список вопросов) для составления технического задания.Также, в&nbsp;письме&nbsp;Вы получите наш каталог уже реализованных дизайнов. На&nbsp;основании заполненного брифа, мы&nbsp;согласовываем с&nbsp;Вами устное тз&nbsp;с&nbsp;примерами, озвучиваем стоимость дизайна и&nbsp;приступаем к&nbsp;работе, после получения предоплаты за&nbsp;дизайн. Срок разработки одного дизайна, с&nbsp;учетом внесения правок, 4-7 рабочих дней.
				section
					div Стоимость доставки?
					div Мы&nbsp;отправляем заказы компанией СДЭК, стоимость доставки напрямую зависит от&nbsp;Вашего города и&nbsp;общего веса заказа, в&nbsp;среднем стоимость доставки по&nbsp;России от&nbsp;250 до&nbsp;1300р.Доставку до&nbsp;терминала осуществляем бесплатно.
				section
					div Как оплатить заказ?
					div Вы&nbsp;можете оплатить заказ по&nbsp;счету на&nbsp;юридические реквизиты компании.Оплату можно производить от&nbsp;физических и&nbsp;юридических лиц.Наши менеджеры проконсультируют, как удобней производить оплату и&nbsp;подготовят необходимую документацию.
