extends ../templates/common

block vars
	- const title = 'Возврат'
	- const files = '.png, .jpg, .jpeg, .bmp, .pdf, .zip, .rar, .tar, .doc, .docx'

block content
	.container.form-page
		header.form-page__header
			h1 У вас появились проблемы с заказом?
			p Заполните данные и&nbsp;наш менеджер свяжется с&nbsp;вами для уточнения деталей
		form(action="").dark-form
			input(type="text" placeholder="Имя")
			input(type="email" placeholder="Эл. почта")
			input(type="tel" placeholder="Телефон")
			textarea(name="", rows="10" placeholder="Кратко опишите вашу проблему" maxlength="10000")
			label.file-drop(for="files-design")
				.file-drop__box#file-drop__box
					.file-drop__msg Загрузить фото (до 6 Мб)
					.file-drop__btn Выбрать
					input.file-drop__input(type="file" id="files-design" multiple accept=files)
				.file-drop__note #{files}
			input(type="submit" value="Отправить")
			footer.form-note Нажимая кнопку «Отправить» вы соглашаетесь с&nbsp;
				a(href="/legal.html") Политикой конфиденциальности