footer#footer

	include ../modules/callback

	.container.subfooter
		.subfooter__promo
			.subfooter__company
				img.site-logo(src=imgPath + "logo.svg")
				small 162605, Россия, г. Краснодар, <br>ул. Кремлевская 1, стр. 7, офис 54
			a(href="https://rusit-po.ru" target="_blank").subfooter__dev
				img.site-logo(src=imgPath + "/logos/rusit-logo.svg" width="82")
				small Сайт разработан компанией RusIt

		.subfooter__main
			nav.subfooter__nav

				section
					header Контакты
					ul
						li
							include ../modules/tel.pug
						li
							a(href="") Essko@.com
						li
							a(href="") VKontakte
						li
							a(href="") Telegram
						li
							a(href="") WhatsApp

				section
					header Услуги
					ul
						li
							a(href="/category.html") Экипировка
						li
							a(href="/category.html") Спортивная одежда
						li
							a(href="/category.html") Повседневная одежда

				section
					header О компании
					ul
						li
							a(href="/about.html") О нас
						li
							a(href="/return.html") Доставка и возврат
						li
							a(href="/legal.html") Соглашение

			.subfooter__legal
				span © Essko 2023
				a(href="/legal.html") Политика конфиденциальности